<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CatsDogs</title>

    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <div class="app-wrapper">
        <h2 class="title">Hi, if you are not sure whether your pet is a cat or a dog, I can help you. <br>Just insert its photo ^^</h2>

        <div class="form-wrapper">
            <input type="file" name="image" accept="image/*" class="image-preview" id="preview_image">
            <label for="preview_image" class="image-preview-label">Select image</label>
        </div>

        <div class="button">Predict</div>
    </div>

    <script src="../static/scripts.js"></script>
</body>
</html>